{
	"checks": [

	{
		"type": "latency",
		"statuscode": 200,
		"name": "example",
		"request": {
			"url": "http://example.com"
		},
		"maxLatencyMs": 10000,
		"mailto": "alerts@streamrail.com",
		"slackWebHook": "https://hooks.slack.com/services/<YOUR WEB HOOK GOES HERE>",
		"frequency": 36000
	},
	{
		"type": "latency",
		"statuscode": 200,
		"name": "Example with alert after",
		"request": {
			"url": "https://example.someapi.com/getSomething"
		},
		"maxLatencyMs": 5000,
		"mailto": "alerts@streamrail.com",
		"slackWebHook": "https://hooks.slack.com/services/<YOUR WEB HOOK GOES HERE>",
		"frequency": 10000,
		"alertafter": 2 
	}, 
	{
		"type": "statuscode",
		"name": "company website",
		"statuscode": 200,
		"request": {
			"url": "https://www.streamrail.com/"
		},
		"mailto": "alerts@streamrail.com",
		"slackWebHook": "https://hooks.slack.com/services/<YOUR WEB HOOK GOES HERE>",
		"frequency": 10000,
		"alertafter": 2
	}, 
	{
		"type": "bqcount",
		"name": "Ad Impressions Last 15 Minutes - Desktop",
		"minimum": 7000,
		"query": "SELECT COUNT(stuff) FROM [bi.customers@-1800000-] WHERE action = 'buy' AND timestamp > DATE_ADD(CURRENT_TIMESTAMP(), -15, 'MINUTE') ,
		"mailto": "alerts@streamrail.com",
		"slackWebHook": "https://hooks.slack.com/services/<YOUR WEB HOOK GOES HERE>",
		"frequency": 300000
	}
	]
}
